@page
@model AzureModel
@{
    ViewData["Title"] = "Azure";
}
<div class="text-center">
    <h1 class="display-4"><b>Azure</b></h1></div>

<p>
<a href="https://www.youtube.com/watch?v=NPEsD6n9A_I&list=PLGjZwEtPN7j-Q59JYso3L4_yoCjj2syrM">AZ-900 | Microsoft Azure Fundamentals Full Course, Free Practice Tests, Website and Study Guides - YouTube </a>.<br/>
<a href="https://marczak.io/az-900/">AZ-900 Microsoft Azure Fundamentals Free Full Course and Study Guide | Marczak.IO | Adam Marczak </a>.<br/>
<a href="https://learn.microsoft.com/en-us/training/paths/microsoft-azure-fundamentals-describe-cloud-concepts/">Microsoft Azure Fundamentals: Describe cloud concepts - Training | Microsoft Learn</a>.<br/>
<a href="https://learn.microsoft.com/en-us/training/paths/azure-fundamentals-describe-azure-architecture-services/">Azure Fundamentals: Describe Azure architecture and services - Training | Microsoft Learn</a>.<br/>
<a href="https://learn.microsoft.com/en-us/training/paths/describe-azure-management-governance/">Azure Fundamentals: Describe Azure management and governance - Training | Microsoft Learn</a>.<br/>
</p>

