@page
@model AzureDevOpsModel
@{
    ViewData["Title"] = "AzureDevOps";
}
<div class="text-center">
    <h1 class="display-4"><b>AzureDevOps</b></h1></div>

<p>
<a href="https://learn.microsoft.com/en-us/training/paths/evolve-your-devops-practices/">Kurs wyjaśniający podstawy Azure DevOps - Get started with Azure DevOps learning path - Training | Microsoft Learn </a>.<br/>
<a href="https://www.youtube.com/watch?v=4BibQ69MD8c">Wyjaśnienie podstawowyc informacji: Azure DevOps Tutorial for Beginners | CI/CD with Azure Pipelines - YouTube  </a>.<br/>
</p>

