@page
@model KnowledgeModel
@{
    ViewData["Title"] = "Baza wiedzy";
}
<h1>@ViewData["Title"]</h1>

<a href="/ApplicationProgrammingInterface">ApplicationProgrammingInterface</a></p>
<a href="/Database">Database</a></p>
<a href="/Powershell">Powershell</a></p>
<a href="/Git">Git</a></p>
<a href="/Azure">Azure</a></p>
<a href="/Azure DevOps">Azure DevOps</a></p>
<a href="/Kubernetes">Kubernetes</a></p>
<a href="/Terraform">Terraform</a></p>
<a href="/Ansible">Ansible</a></p>
<a href="/Podstawy sieci">Podstawy sieci</a></p>
<a href="/Power Bi">Power Bi</a></p>
