@page
@model PostmanModel
@{
    ViewData["Title"] = "Postman";
}
<div class="text-center">
    <h1 class="display-4"><b>Instrukcja budowy aplikacji w AKS na Azure DevOps</b></h1></div>

<p>
<b>Co to jest Postman? </b><br/>
W prostych słowach, Postman jest aplikacją komputerową używaną do testowania API. Postman wysyła żądanie API do serwera internetowego i odbiera odpowiedź, niezależnie od tego, jaka ona jest. Podczas wysyłania i odbierania żądań w Postmanie nie jest wymagana żadna dodatkowa praca ani ustawianie ram. Szeroko stosowany przez testerów i programistów do lepszego testowania aplikacji. Łatwy do zintegrowania z Twoim potokiem ciągłej integracji (CI) i ciągłego rozwoju.<br/>
<br/>
<b>Co sprawia, że Postman jest przydatny?</b><br/>
Postman ze swoją liczbą funkcji i łatwością pracy był używany przez miliony testerów. Korzystając z jego prostego i przyjaznego interfejsu, możesz łatwo wysyłać żądania, wystarczy wypełnić wymagane dane, wybrać metodę HTTP i nacisnąć przycisk "Wyślij". Inną szeroko stosowaną funkcją jest Automation, która pozwala na tworzenie testów i pisanie zestawów testowych.<br/>
<br/>
Choć jest darmowy, Postman oferuje płatną wersję z funkcjami pro, takimi jak dostęp wielu użytkowników, kontrola nad rolami, dostęp, uwierzytelnianie SSO itp. Umożliwienie użytkownikom skonfigurowania wymaganego środowiska, napisania specyfikacji i wreszcie monitorowania każdego kroku, to wszystko sprawia, że Postman jest idealnym narzędziem do testowania.<br/>
<br/>
<b>Materiały dodatkowe:</b><br/>
<a href="https://www.youtube.com/watch?v=YKalL1rVDOE&list=PLM-7VG-sgbtBsenu0CM-UF3NZj3hQFs7E">New to Postman Part 1: sending a request </a>.<br/>
<a href="https://www.youtube.com/watch?v=pi9MxX0HSHU&list=PLM-7VG-sgbtDD69PEPRQt13DcyN5JUZnS">Writing tests in Postman -- with examples! Part 1 of 2</a>.<br/>
</p>
