@page
@model PowerBiModel
@{
    ViewData["Title"] = "PowerBi";
}
<div class="text-center">
    <h1 class="display-4"><b>PowerBi</b></h1></div>

<p>
Power BI to zbiór usług programowych, aplikacji i konektorów, które współpracują ze sobą, aby przekształcić niepowiązane źródła danych w spójne, wizualnie wciągające i interaktywne spostrzeżenia. Dane mogą mieć postać arkusza kalkulacyjnego Excel lub zbioru hybrydowych hurtowni danych w chmurze lub w siedzibie firmy. Power BI pozwala na łatwe połączenie ze źródłami danych, wizualizację i odkrywanie tego, co ważne, a następnie dzielenie się tym z każdym, kto chce. <br/>
<br/>
<a href="https://www.youtube.com/watch?v=Vqz2d7pTOV8">What is Power BI? (2021)</a>.<br/>
<a href="https://www.youtube.com/watch?v=B_bAKrXAUh0&t=807s">Create your first Power BI report (2021)</a>.<br/>
<a href="https://www.youtube.com/watch?v=-ZAPAk_ANbk">Power BI dataflows vs datamarts: What's the difference???</a>.<br/>
<a href="https://learn.microsoft.com/en-us/training/paths/manage-analytics-development-lifecycle/">Link do dokumentacji</a>.<br/>
<a href="https://learn.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-overview">Link do kursu</a>.<br/>
<br/>
</p>

