@page
@model ApiModel
@{
    ViewData["Title"] = "Api";
}
<div class="text-center">
    <h1 class="display-4"><b>Powershell</b></h1></div>

<p>
<b>Powershell</b><br/>
<a href="https://learn.microsoft.com/en-us/training/paths/get-started-windows-powershell/">Get started with Windows PowerShell - Training | Microsoft Learn </a>.<br/>
<a href="https://learn.microsoft.com/en-us/training/paths/powershell/">Automate administrative tasks by using PowerShell - Training | Microsoft Learn </a>.<br/>
<a href="https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_pipelines?view=powershell-7.2">about Pipelines - PowerShell | Microsoft Learn </a>.<br/>
</p>

