@page
@model TerraformModel
@{
    ViewData["Title"] = "Terraform";
}
<div class="text-center">
    <h1 class="display-4"><b>Terraform</b></h1></div>

<p>
<a href="https://learn.microsoft.com/en-us/devops/deliver/what-is-infrastructure-as-code">What is infrastructure as code (IaC)? - Azure DevOps | Microsoft Learn </a>.<br/>
<a href="https://www.redhat.com/en/topics/automation/what-is-infrastructure-as-code-iac">What is Infrastructure as Code (IaC)? (redhat.com)</a>.<br/>
<a href="https://www.youtube.com/watch?v=l5k1ai_GBDE">Terraform explained in 15 mins | Terraform Tutorial for Beginners - YouTube </a>.<br/>
<a href="https://www.youtube.com/watch?v=HmxkYNv1ksg">Terraform Explained - YouTube</a>.<br/>
<a href="https://www.youtube.com/watch?v=rx4Uh3jv1cA">Ansible vs. Terraform: What's the difference? - YouTube</a>.<br/>
<a href="https://developer.hashicorp.com/terraform/tutorials/azure-get-started">Azure | Terraform | HashiCorp Developer</a>.<br/>
</p>

